/* Replace single file uploader button with dark gray box */
form[action*="single-file-uploader"] .cameraButton {
  border: 0 none;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  height: calc(300px/3*4);
  max-height: calc(80vw/3*4);
}
form[action*="single-file-uploader"] .cameraButton,
#mfcf7_zl_multifilecontainer .img-wrapper {
  width: 300px;
  max-width: 80vw;
  position: relative;
  overflow: hidden;
}
form[action*="single-file-uploader"] .cameraButton input {
  display: none;
}
#loaded-img,
.loaded-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Style upload button area */
.wpcf7-form-control-wrap .form-control,
.pix-contact7-form input {
  border: 1px solid #aaa !important;
}
.wpcf7-form-control-wrap .form-control {
  all: initial;
  box-shadow: none !important;
}
.pix-contact7-form input {
  font-family: inherit !important;
  line-height: inherit !important;
  padding: 0.25em 0.5em !important;
  outline: none;
}
.pix-contact7-form label:not(.cameraButton) {
  color: black;
}
form[action*="single-file-uploader"] .cameraButton,
.pix-contact7-form input[type="submit"],
.pix-contact7-form .button {
  background-color: #666;
  color: white;
  border-radius: 0.5em
}
.pix-contact7-form .button {
  padding: 0.5em 1.5em !important;
  margin-bottom: 20px;
  margin-right: 10px;
}
.img-wrapper {
  border-radius: 0.5em
}

/* Adjust spacing around images and button */
#mfcf7_zl_multifilecontainer .img-wrapper {
  display: inline-block;
}
#mfcf7_zl_multifilecontainer .mfcf7-zl-multifile-name {
  display: none !important;
}
div#mfcf7_zl_multifilecontainer p {
  margin: 0 !important;
  display: block;
}
#mfcf7_zl_multifilecontainer {
  margin-bottom: 10px;
}
.img-wrapper {
  margin-bottom: 10px;
}
#mfcf7_zl_add_file + span {
  display: none;
}
.pix-contact7-form .form-group ~ p:last-child {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.pix-contact7-form input[type="submit"] {
  margin: 10px 0;
  padding: 0.5em 1.5em !important;
}

/* Style delete file button inside image wrapper */
.img-wrapper .mfcf7_zl_delete_file {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 0 5px;
  border-radius: 5px;
}

/* Style error responses */
.wpcf7 form .wpcf7-response-output {
  border: 0 none !important;
  padding: 0.5em 1em;
  margin: 0;
  display: inline-block;
  background: #999;
  color: white;
  border-radius: 0.5em
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  background: #dc3232;
}
.wpcf7 form.sent .wpcf7-response-output {
  background: darkgreen;
}
